<div>
    <h2>
        <span>Legal Processes</span>
        <button class="btn btn-primary float-right jh-create-entity create-legal-process-my-suffix" [routerLink]="['/', { outlets: { popup: ['legal-process-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Legal Process
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="legalProcesses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="number"><span>Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adversypart"><span>Adversypart</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let legalProcess of legalProcesses ;trackBy: trackId">
                <td><a [routerLink]="['../legal-process-my-suffix', legalProcess.id ]">{{legalProcess.id}}</a></td>
                <td>{{legalProcess.number}}</td>
                <td>{{legalProcess.status}}</td>
                <td>{{legalProcess.adversypart}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../legal-process-my-suffix', legalProcess.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'legal-process-my-suffix/'+ legalProcess.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'legal-process-my-suffix/'+ legalProcess.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="legalProcesses && legalProcesses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
